<form>
    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Armor Info</mat-label>
            <mat-select [(ngModel)]="monster.armorInfo.piece" (ngModelChange)="acPieceChange()" [ngModelOptions]="{standalone: true}">
                <mat-optgroup *ngFor="let group of armorGroups" label="{{group.name}}">
                    <mat-option *ngFor="let piece of getArmorPieces(group.value)" [value]="piece.value">{{piece.name}}</mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <mat-slide-toggle class="col-md-2" style="margin: 20px" [(ngModel)]="monster.armorInfo.hasShield" [ngModelOptions]="{standalone: true}" (ngModelChange)="hasShieldChange()">Has Shield</mat-slide-toggle>
    </div>
    <div>
        <mat-form-field appearance="outline" class="col-md-1">
            <mat-label>AC</mat-label>
            <input matInput [(ngModel)]="monster.armorclass" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="monster.armor" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="col-md-1">
            <mat-label>Hit Die Count</mat-label>
            <input matInput type="number" [(ngModel)]="monster.hitDie.dieCount" (ngModelChange)="recalcHP()" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-1">
            <mat-label>Hit Die</mat-label>
            <mat-select [(ngModel)]="monster.hitDie.die" [ngModelOptions]="{standalone: true}" (ngModelChange)="recalcHP()" required>
                <mat-option *ngFor="let d of hitDieSize" [value]="d.die">{{d.dieStr}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-1">
            <mat-label>HP</mat-label>
            <input matInput [(ngModel)]="monster.maximumHitpoints" disabled [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="monster.hitDie.description" [ngModelOptions]="{standalone: true}" disabled>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Vulnerabilities</mat-label>
            <mat-select [(ngModel)]="monster.vulnerable" [ngModelOptions]="{standalone: true}" multiple>
                <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Resistances</mat-label>
            <mat-select [(ngModel)]="monster.resist" [ngModelOptions]="{standalone: true}" multiple>
                <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Immunities</mat-label>
            <mat-select [(ngModel)]="monster.immune" [ngModelOptions]="{standalone: true}" multiple>
                <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Condition Immunities</mat-label>
            <mat-select [(ngModel)]="monster.conditionImmune" [ngModelOptions]="{standalone: true}" multiple>
                <mat-option *ngFor="let con of conditionValues" [value]="con">{{con}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>