
<stat-block id="statBlockId">
        <creature-heading>
            <h1>{{monster.name}}</h1>
            <h2>{{monster.size}} {{monster.type.type + (monster.type.tags !== undefined ? ' ' + monster.type.tags : '')}}, {{monster.alignment.description}}</h2>
        </creature-heading>

        <top-stats>
            <property-line>
                <h4>Armor Class</h4>
                <p>
                    {{monster.armorclass}} <span *ngIf="monster.armor">({{monster.armor}})</span>
                </p>
            </property-line>
            <property-line>
                <h4>Hit Points</h4>
                <p>
                    {{monster.hitDie.expectedRoll}} ({{monster.hitDie.description}})
                </p>
            </property-line>
            <property-line>
                <h4>Speed</h4>
                <p>{{monster.speed.additionalInformation}}</p>
            </property-line>

            <tapered-rule></tapered-rule>
            <table>
                <tr>
                    <th>STR</th>
                    <th>DEX</th>
                    <th>CON</th>
                    <th>INT</th>
                    <th>WIS</th>
                    <th>CHA</th>
                </tr>
                <tr>
                    <td>{{monster.abilities.Strength.description}}</td>
                    <td>{{monster.abilities.Dexterity.description}}</td>
                    <td>{{monster.abilities.Constitution.description}}</td>
                    <td>{{monster.abilities.Intelligence.description}}</td>
                    <td>{{monster.abilities.Wisdom.description}}</td>
                    <td>{{monster.abilities.Charisma.description}}</td>
                </tr>
            </table>
            <tapered-rule></tapered-rule>

            <property-line *ngIf="monster.savingThrows.length > 0">
                <h4>Saving Throws</h4>
                <p>{{describeSavingThrows(monster.savingThrows)}}</p>
            </property-line>
            <property-line *ngIf="!isEmpty(monster.skillmodifiers)">
                <h4>Skills</h4>
                <p>{{describeSkills(monster.skillmodifiers)}}</p>
            </property-line>
            <property-line *ngIf="monster.vulnerable">
                <h4>Damage Vulnerabilities</h4>
                <p>{{monster.vulnerable.join(', ')}}</p>
            </property-line>
            <property-line *ngIf="monster.resist">
                <h4>Damage Resistances</h4>
                <p>{{monster.resist.join(', ')}}</p>
            </property-line>
            <property-line *ngIf="monster.immune">
                <h4>Damage Immunities</h4>
                <p>{{monster.immune.join(', ')}}</p>
            </property-line>
            <property-line *ngIf="monster.conditionImmune">
                <h4>Condition Immunities</h4>
                <p>{{monster.conditionImmune.join(', ')}}</p>
            </property-line>
            <property-line *ngIf="monster.senses">
                <h4>Senses</h4>
                <p>{{monster.senses.description}}</p>
            </property-line>
            <property-line>
                <h4>Languages</h4>
                <p>{{monster.languages == undefined ? '—' : monster.languages}}</p>
            </property-line>
            <property-line>
                <h4>Challenge</h4>
                <p>{{monster.challengeRating.description}}</p>
            </property-line>
        </top-stats>

        <property-block *ngIf="monster.spellcasting">
            <h4>Spellcasting.</h4>
            <p>{{monster.spellcasting.textBeforeTable}}</p>
            <p style="line-height: 0.7">&nbsp;</p>
            <p *ngFor="let line of getSpellLines(monster.spellcasting)" style="text-indent: 0;">
                {{line.level}}: <i>{{line.spelllist}}</i>
            </p>
            <p>{{monster.spellcasting.textAfterTable}}</p>
        </property-block>

        <property-block *ngFor="let trait of monster.traits">
            <h4>{{trait.name}}.</h4>
            <p>{{trait.text}}</p>
        </property-block>

        <h3>Actions</h3>

        <property-block *ngFor="let action of monster.actions">
            <h4>{{action.name}}.</h4>
            <p>{{action.text}}</p>
        </property-block>

        <h3 *ngIf="monster.legendaryActions.length > 0">Legendary Actions</h3>

        <property-block *ngFor="let la of monster.legendaryActions">
            <h4>{{la.action.name}}.</h4>
            <p>{{la.action.text}}</p>
        </property-block>

        <h3 *ngIf="monster.reactions.length > 0">Reactions</h3>

    <property-block *ngFor="let r of monster.reactions">
        <h4>{{r.action.name}}.</h4>
        <p>{{r.action.text}}</p>
    </property-block>

</stat-block>
