<form *ngIf="_loaded">
    <mat-expansion-panel *ngFor="let trait of _monster.traits" style="margin-top:20px">
        <mat-expansion-panel-header style="height:auto; min-height:48px">
            <mat-panel-title style=" margin: 10px 0 5px 0;"><span><strong>{{trait.name}}{{trait.limitedUsageText}}.</strong> {{trait.text}}</span></mat-panel-title>
            <mat-panel-description>
                <button mat-icon-button style="margin-left:auto">
                    <mat-icon style="color:red" (click)="removeTrait(trait)">delete</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider style="margin:5px 0 10px 0"></mat-divider>
        <div>
            <mat-form-field appearance="outline" class="col-md-2" [floatLabel]="'always'">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="trait.name" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-10" [floatLabel]="'always'">
                <mat-label>Text</mat-label>
                <input matInput [(ngModel)]="trait.text" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
    </mat-expansion-panel>
    <!--Add Trait-->
    <div>
        <mat-select placeholder="add trait" [(ngModel)]="addSelectedTraitToMonster" (ngModelChange)="addTraitToMonster()" [ngModelOptions]="{standalone: true}">
            <mat-optgroup *ngFor="let group of traitGroups" label="{{group}}">
                <mat-option *ngFor="let trait of getUnusedTrait(group)" [value]="trait">{{trait.name}}</mat-option>
            </mat-optgroup>
        </mat-select>
    </div>
    <app-spellcasting-info [monster]="_monster" [formGroups]="formGroups"></app-spellcasting-info>
</form>