<div *ngIf="monster">
    <form autocomplete="off">
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="form-group row">
            <label for="name" class="col-md-3">1. Name</label>
            <div class="col-md-3">
                <input type="text" [(ngModel)]="monster.name" class="form-control" name="name" id="name" required>
            </div>
        </div>

        <div class="form-group row">
            <label for="size" class="col-md-3">2. Size</label>
            <div class="col-md-3">
                <select class="form-control" name="size" id="size" [(ngModel)]="monster.size" (ngModelChange)="sizeChanged()" required>
                    <option *ngFor="let size of sizeValues" [value]="size">{{size}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="type" class="col-md-3">3. Type</label>
            <div class="col-md-3">
                <select class="form-control" name="race" id="race" [(ngModel)]="monster.race.monsterType" required>
                    <option *ngFor="let race of monsterTypeValues" [value]="race">{{race}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" [(ngModel)]="monster.race.tags" class="form-control" name="tags" id="tags" list="taglist">
            </div>
        </div>

        <datalist id="taglist">
            <option *ngFor="let t of getTags()">{{t}}</option>
        </datalist>


        <div class="form-group row">
            <label for="alignment" class="col-md-3">4. Alignment</label>
            <div class="col-md-3">
                <input type="text" [(ngModel)]="monster.alignment.description" class="form-control" name="alignment" id="alignment">
            </div>
        </div>

        <div class="form-group row">
            <!--<label for="abilities" class="col-md-3">5. Ability Scores</label>-->
        </div>

        <div class="form-group row" *ngFor="let ability of abilityValues">
            <label for="abilities_{{ability}}" class="col-md-3">{{ability}}</label>
            <div class="col-md-3">
                <mat-slider [(ngModel)]="monster.abilities[ability].value" class="form-control" name="abilities_{{ability}}" id="abilities_{{ability}}" min="1" max="30" step="1" (ngModelChange)="abilityChange(ability)"></mat-slider>
            </div>
            <div class="col-md-1">
                <input type="number" [(ngModel)]="monster.abilities[ability].value" class="form-control" name="abilities_num_{{ability}}" id="abilities_num_{{ability}}" (ngModelChange)="abilityChange(ability)">
            </div>
            <div class="col-md-1">
                <label for="abilities_mod_{{ability}}" class="col-md-3">Mod:</label>
            </div>
            <div class="col-md-1">
                <input type="number" [ngModel]="monster.abilities[ability].modifier" class="form-control" name="abilities_mod_{{ability}}" id="abilities_mod_{{ability}}" disabled>
            </div>
        </div>

        <div class="form-group row">
            <label for="cr" class="col-md-3">6. Challenge Rating (expected)</label>
            <div class="col-md-3">
                <select class="form-control" name="cr" id="cr" [(ngModel)]="monster.challengeRating" (ngModelChange)="setCr()" required>
                    <option *ngFor="let cr of crValues" [ngValue]="cr">{{cr.description}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="armor" class="col-md-3">7. Armor</label>
            <div class="col-md-3">
                <select class="form-control" name="acgroup" id="acgroup" [(ngModel)]="monster.armorInfo.group" (ngModelChange)="acGroupChange()">
                    <option *ngFor="let group of armorgroups" [ngValue]="group.value">{{group.name}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="acpiece" id="acpiece" [(ngModel)]="monster.armorInfo.piece" (ngModelChange)="acPieceChange()">
                    <option *ngFor="let piece of getArmorPieces(monster.armorInfo.group)" [ngValue]="piece.value">{{piece.name}}</option>
                </select>
            </div>
            <div class="col-md-1">
                <mat-checkbox [(ngModel)]="monster.armorInfo.hasShield" class="form-control" name="acshield" id="acshield" (ngModelChange)="hasShieldChange()">Has Shield</mat-checkbox>
            </div>
        </div>
        <div class="form-group row">
            <label for="armor2" class="col-md-3"></label>
            <div class="col-md-1">
                <input type="number" [(ngModel)]="monster.armorclass" class="form-control" name="ac" id="ac">
            </div>
            <div class="col-md-2">
                <input type="text" [(ngModel)]="monster.armor" class="form-control" name="actext" id="actext">
            </div>
        </div>
        <div class="form-group row">
            <label for="hps" class="col-md-3">8. Hitpoints</label>
            <div class="col-md-1">
                <input type="number" [(ngModel)]="monster.hitDie.dieCount" class="form-control" name="hp_dieCount" id="hp_dieCount" (ngModelChange)="recalcHP()">
            </div>
            <div class="col-md-1">
                <select class="form-control" name="hp_die" id="hp_die" [(ngModel)]="monster.hitDie.die" (ngModelChange)="recalcHP()">
                    <option *ngFor="let d of hitDiceSize" [ngValue]="d.die">{{d.dieStr}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" [(ngModel)]="monster.hitDie.description" class="form-control" name="hp_dieDesc" id="hp_dieDesc" disabled>
            </div>
        </div>


        <div class="form-group row">
            <label for="vulnerabilities" class="col-md-3">9. Vulnerabilities, Resistances and Immunities</label>
        </div>
        <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Vulnerabilities</mat-label>
            <mat-select [(ngModel)]="monster.vulnerable" [ngModelOptions]="{standalone: true}" multiple>
                <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Resistances</mat-label>
            <mat-select [(ngModel)]="monster.resist" [ngModelOptions]="{standalone: true}" multiple>
                <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Immunities</mat-label>
            <mat-select [(ngModel)]="monster.immune" [ngModelOptions]="{standalone: true}" multiple>
                <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
            </mat-select>
        </mat-form-field>


        <div class="form-group row">
            <label for="vulnerabilities" class="col-md-3">Condition Immunities</label>
        </div>
        <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Condition Immunities</mat-label>
            <mat-select [(ngModel)]="monster.conditionImmune" [ngModelOptions]="{standalone: true}" multiple>
                <mat-option *ngFor="let con of conditionValues" [value]="con">{{con}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!--


        <!--
    <div class="form-group row">
        <label for="armorclass" class="col-md-3">Armor</label>
        <div class="col-md-3">
            <input type="number" [(ngModel)]="monster.armorclass" class="form-control" name="armorclass" id="armorclass">
        </div>
        <div class="col-md-3">
            <input type="text" [(ngModel)]="monster.armor" class="form-control" name="armor" id="armor">
        </div>
    </div>

    <div class="form-group row">
        <label for="hp" class="col-md-3" style="color: red">Hit Points</label>
        <div class="col-md-3">
            <input type="text" [(ngModel)]="monster.hitDie.description" class="form-control" name="hp" id="hp">
        </div>
    </div>

    <div class="form-group row">
        <label for="speed" class="col-md-3" style="color: red">Speed</label>
        <div class="col-md-3">
            <input type="text" [(ngModel)]="monster.speed.additionalInformation" class="form-control" name="speed" id="speed">
        </div>
    </div>

    <div class="form-group row">
        <label for="speed" class="col-md-3" style="color: red">Stats</label>
    </div>
        -->
        <div class="form-group row">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>