<div *ngIf="monster" style="margin-top: 20px">
    <h1>Edit Monster {{monster.name}}</h1>
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
        <!----------------------------------
    --
    --  Basic Info
    --
    ---------------------------------------->
        <mat-step>
            <ng-template matStepLabel>Basic Info</ng-template>
            <form>
                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="monster.name" [ngModelOptions]="{standalone: true}" required>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Size</mat-label>
                        <mat-select [(ngModel)]="monster.size" [ngModelOptions]="{standalone: true}" (ngModelChange)="sizeChanged()" required>
                            <mat-option *ngFor="let size of sizeValues" [value]="size">{{size}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Type</mat-label>
                        <mat-select [(ngModel)]="monster.race.monsterType" [ngModelOptions]="{standalone: true}" required>
                            <mat-option *ngFor="let race of monsterTypeValues" [value]="race">{{race}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Tag (optional)</mat-label>
                        <input matInput [(ngModel)]="monster.race.tags" list="taglist" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <datalist id="taglist">
                        <option *ngFor="let t of getTags()">{{t}}</option>
                    </datalist>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Alignment</mat-label>
                        <mat-grid-list cols="4" rowHeight="1:1" style="border: 1px solid lightgray; border-radius: 5px;">
                            <mat-grid-tile></mat-grid-tile>
                            <mat-grid-tile [colspan]="3">Lawful vs Chaotic</mat-grid-tile>
                            <mat-grid-tile [rowspan]="3"><span style="transform: rotate(90deg); white-space: nowrap">Good vs Evil</span></mat-grid-tile>
                            <mat-grid-tile *ngFor="let al of alignmentList"><mat-checkbox disabled [(ngModel)]="alignment[al]" [ngModelOptions]="{standalone: true}" matTooltip="{{al}}" [matTooltipPosition]="'below'"></mat-checkbox></mat-grid-tile>
                        </mat-grid-list>
                        <input matInput [(ngModel)]="monster.alignment.description" [ngModelOptions]="{standalone: true}" style="text-align:center; margin-top:15px" required>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Land Speed</mat-label>
                        <input matInput [(ngModel)]="monster.speed.speeds['Normal']" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Burrow Speed</mat-label>
                        <input matInput [(ngModel)]="monster.speed.speeds['Burrow']" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Climb Speed</mat-label>
                        <input matInput [(ngModel)]="monster.speed.speeds['Climb']" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Swim Speed</mat-label>
                        <input matInput [(ngModel)]="monster.speed.speeds['Swim']" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2" *ngIf="!hover">
                        <mat-label>Fly Speed</mat-label>
                        <span matSuffix><mat-slide-toggle [(ngModel)]="hover" [ngModelOptions]="{standalone: true}" (ngModelChange)="hoverToggle()"></mat-slide-toggle></span>
                        <input matInput [(ngModel)]="monster.speed.speeds['Fly']" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2" *ngIf="hover">
                        <mat-label>Hover Speed</mat-label>
                        <span matSuffix><mat-slide-toggle [(ngModel)]="hover" [ngModelOptions]="{standalone: true}" (ngModelChange)="hoverToggle()"></mat-slide-toggle></span>
                        <input matInput [(ngModel)]="monster.speed.speeds['Hover']" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>

                    <div>
                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Senses</mat-label>
                            <input matInput [(ngModel)]="monster.senses.description" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Challenge Rating (expected)</mat-label>
                            <mat-select [(ngModel)]="monster.challengeRating" [ngModelOptions]="{standalone: true}" (ngModelChange)="setCr()" required>
                                <mat-option *ngFor="let cr of crValues" [value]="cr">{{cr.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="outline" class="col-md-3">
                            <mat-label>Languages</mat-label>
                            <input matInput [(ngModel)]="monster.languages" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-step>
        <!-----------------------------------
    --
    --  Ability Scores
    --
    ---------------------------------------->
        <mat-step>
            <form>
                <ng-template matStepLabel>Ability Scores</ng-template>
                <div class="form-group row" *ngFor="let ability of abilityValues">
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>{{ability}}</mat-label>
                        <span matSuffix>({{monster.abilities[ability].modifier >= 0 ? '+' : ''}}{{monster.abilities[ability].modifier}})<mat-slider [(ngModel)]="monster.abilities[ability].value" name="abilities_{{ability}}" id="abilities_{{ability}}" min="1" max="30" step="1" (ngModelChange)="abilityChange(ability)"></mat-slider></span>
                        <input matInput type="number" [(ngModel)]="monster.abilities[ability].value" (ngModelChange)="abilityChange(ability)" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-slide-toggle class="col-md-1" style="margin-top: 20px" [(ngModel)]="save[ability]" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeSave(ability)"></mat-slide-toggle>
                    <mat-form-field appearance="outline" class="col-md-2" *ngIf="save[ability]" [floatLabel]="'always'">
                        <mat-label>Saving Throw</mat-label>
                        <input matInput placeholder="{{monster.abilities[ability].modifier + proficency}}" [(ngModel)]="monster.savingThrows[ability]" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
                <mat-list role="list">
                    <div mat-subheader>Skills</div>
                    <mat-list-item *ngFor="let skill of getSkills()" role="listitem" style="height:70px">
                        <mat-form-field appearance="outline" class="col-md-2" [floatLabel]="'always'">
                            <mat-label>{{skill}}</mat-label>
                            <span matSuffix>
                                <button mat-icon-button (click)="removeSkill(skill)"><mat-icon>delete</mat-icon></button>
                            </span>
                            <input matInput placeholder="{{getSkillDefaultValue(skill)}}" [(ngModel)]="monster.skillmodifiers[skill]" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="col-md-2">
                            <mat-select placeholder="add skill" [(ngModel)]="addSkillSelection" (ngModelChange)="addSkill()" [ngModelOptions]="{standalone: true}">
                                <mat-option *ngFor="let sv of getSkillValues()" [value]="sv">{{sv}}</mat-option>
                            </mat-select>
                        </div>
                    </mat-list-item>
                </mat-list>
            </form>
        </mat-step>
        <!-----------------------------------
    --
    --  Defense
    --
    ---------------------------------------->
        <mat-step>
            <form>
                <ng-template matStepLabel>Defense</ng-template>
                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Armor Info</mat-label>
                        <mat-select [(ngModel)]="monster.armorInfo.piece" (ngModelChange)="acPieceChange()" [ngModelOptions]="{standalone: true}">
                            <mat-optgroup *ngFor="let group of armorgroups" label="{{group.name}}">
                                <mat-option *ngFor="let piece of getArmorPieces(group.value)" [value]="piece.value">{{piece.name}}</mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                    <mat-slide-toggle class="col-md-2" style="margin: 20px" [(ngModel)]="monster.armorInfo.hasShield" [ngModelOptions]="{standalone: true}" (ngModelChange)="hasShieldChange()">Has Shield</mat-slide-toggle>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="col-md-1">
                        <mat-label>AC</mat-label>
                        <input matInput [(ngModel)]="monster.armorclass" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Description</mat-label>
                        <input matInput [(ngModel)]="monster.armor" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="col-md-1">
                        <mat-label>Hit Die Count</mat-label>
                        <input matInput type="number" [(ngModel)]="monster.hitDie.dieCount" (ngModelChange)="recalcHP()" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-1">
                        <mat-label>Hit Die</mat-label>
                        <mat-select [(ngModel)]="monster.hitDie.die" [ngModelOptions]="{standalone: true}" (ngModelChange)="recalcHP()" required>
                            <mat-option *ngFor="let d of hitDiceSize" [value]="d.die">{{d.dieStr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-1">
                        <mat-label>HP</mat-label>
                        <input matInput [(ngModel)]="monster.maximumHitpoints" disabled [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Description</mat-label>
                        <input matInput [(ngModel)]="monster.hitDie.description" [ngModelOptions]="{standalone: true}" disabled>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Vulnerabilities</mat-label>
                        <mat-select [(ngModel)]="monster.vulnerable" [ngModelOptions]="{standalone: true}" multiple>
                            <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Resistances</mat-label>
                        <mat-select [(ngModel)]="monster.resist" [ngModelOptions]="{standalone: true}" multiple>
                            <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Immunities</mat-label>
                        <mat-select [(ngModel)]="monster.immune" [ngModelOptions]="{standalone: true}" multiple>
                            <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="col-md-3">
                        <mat-label>Condition Immunities</mat-label>
                        <mat-select [(ngModel)]="monster.conditionImmune" [ngModelOptions]="{standalone: true}" multiple>
                            <mat-option *ngFor="let con of conditionValues" [value]="con">{{con}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </mat-step>
        <!-----------------------------------
    --
    --  Actions
    --
    ---------------------------------------->
        <mat-step>
            <form>
                <ng-template matStepLabel>Actions</ng-template>
                <!--Multiattack-->
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header style="height:auto; min-height:48px">
                            <mat-panel-title style=" margin: 10px 0 5px 0;"><mat-slide-toggle style="margin-right:10px" [(ngModel)]="hasMultiattack" [ngModelOptions]="{standalone: true}" (ngModelChange)="hasMultiattackChange()"></mat-slide-toggle><span><strong>{{monster.multiattackAction?.name ?? "Multiattack"}}. </strong>{{monster.multiattackAction?.text ?? ""}}</span></mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider style="margin:5px 0 10px 0"></mat-divider>
                        <mat-list role="list" *ngIf="hasMultiattack">
                            <mat-list-item *ngFor="let action of getObjectKeys(monster.multiattackAction.actions)" role="listitem" style="height:70px">
                                <mat-form-field appearance="outline" class="col-md-2" [floatLabel]="'always'">
                                    <mat-label>{{action}}</mat-label>
                                    <span matSuffix>
                                        <button mat-icon-button (click)="removeActionFromMulti(action)"><mat-icon>delete</mat-icon></button>
                                    </span>
                                    <input type="number" matInput [(ngModel)]="monster.multiattackAction.actions[action]" (ngModelChange)="updateMulti()" [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="col-md-2">
                                    <mat-select placeholder="add action" [(ngModel)]="addActionToMultiSelection" (ngModelChange)="addActionToMulti()" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let ac of getUnusedMultiActions()" [value]="ac">{{ac}}</mat-option>
                                    </mat-select>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                    <!--Actions-->
                    <mat-expansion-panel *ngFor="let action of monster.actions" style="margin-top:20px">
                        <mat-expansion-panel-header style="height:auto; min-height:48px">
                            <mat-panel-title style=" margin: 10px 0 5px 0;"><span><strong>{{action.name}}.</strong> {{action.text}}</span></mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider style="margin:5px 0 10px 0"></mat-divider>
                        <!--Attack-->
                        <div>
                            <mat-form-field appearance="outline" class="col-md-3">
                                <mat-label>Attack</mat-label>
                                <span matPrefix><mat-slide-toggle class="col-md-2" style="margin: 5px" [(ngModel)]="action.hasAttack" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateAction(action)"></mat-slide-toggle></span>
                                <mat-select [disabled]="!action.hasAttack" [(ngModel)]="action.attack === undefined ? {} : action.attack.type" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateAction(action)">
                                    <mat-option *ngFor="let con of atkTypeValues" [value]="con">{{con.replace("_", " ").replace("_", " ").replace("_", " ").replace("_", " ")}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-md-1" [floatLabel]="'always'" *ngIf="action.hasAttack">
                                <mat-label>Atk. Bonus</mat-label>
                                <span matSuffix>to hit,</span>
                                <input type="number" matInput [(ngModel)]="action.attack === undefined ? {} : action.attack.attackBonus" (ngModelChange)="updateAction(action)" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-md-1" [floatLabel]="'always'" *ngIf="action.hasAttack && isAtkMelee(action)">
                                <mat-label>Reach</mat-label>
                                <span matSuffix>ft.</span>
                                <input type="number" step="5" matInput [(ngModel)]="action.attack === undefined ? {} : action.attack.reach" (ngModelChange)="updateAction(action)" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-md-1" [floatLabel]="'always'" *ngIf="action.hasAttack && isAtkRanged(action)">
                                <mat-label>Short Range</mat-label>
                                <span matSuffix>ft.</span>
                                <input type="number" step="5" matInput [(ngModel)]="action.attack === undefined ? {} : action.attack.shortRange" (ngModelChange)="updateAction(action)" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-md-1" [floatLabel]="'always'" *ngIf="action.hasAttack && isAtkRanged(action)">
                                <mat-label>Long Range</mat-label>
                                <span matSuffix>ft.</span>
                                <input type="number" step="5" matInput [(ngModel)]="action.attack === undefined ? {} : action.attack.longRange" (ngModelChange)="updateAction(action)" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-md-1" [floatLabel]="'always'" *ngIf="action.hasAttack">
                                <mat-label>Target</mat-label>
                                <span matSuffix></span>
                                <input matInput [(ngModel)]="action.attack === undefined ? {} : action.attack.target" (ngModelChange)="updateAction(action)" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </div>
                        <!--HitEffect-->
                        <div>
                            <mat-list role="list">
                                <mat-list-item *ngFor="let hitEffect of action.hitEffects" role="listitem" style="height: 70px">
                                    <div *ngIf="hitEffect.damageType" style="width:100%">
                                        <mat-form-field appearance="outline" class="col-md-2">
                                            <mat-label>Damage Type</mat-label>
                                            <mat-select [(ngModel)]="hitEffect.damageType" [ngModelOptions]="{standalone: true}">
                                                <mat-option *ngFor="let dt of dmgTypeValues" [value]="dt">{{dt}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="col-md-1">
                                            <mat-label>Dmg Die Count</mat-label>
                                            <input matInput type="number" [(ngModel)]="hitEffect.damageDie.dieCount" (ngModelChange)="updateAction(action)" [ngModelOptions]="{standalone: true}">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="col-md-1" *ngIf="hitEffect.damageDie.dieCount > 0">
                                            <mat-label>Dmg Die</mat-label>
                                            <mat-select [(ngModel)]="hitEffect.damageDie.die" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateAction(action)" required>
                                                <mat-option *ngFor="let d of hitDiceSize" [value]="d.die">{{d.dieStr}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="col-md-1">
                                            <mat-label>Offset</mat-label>
                                            <input matInput type="number" [(ngModel)]="hitEffect.damageDie.offset" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateAction(action)">
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="hitEffect.dc" style="width:100%">
                                        <mat-form-field appearance="outline" class="col-md-2">
                                            <mat-label>Saving Throw</mat-label>
                                            <mat-select [(ngModel)]="getSavingThrow(hitEffect).ability" [ngModelOptions]="{standalone: true}">
                                                <mat-option *ngFor="let a of abilityValues" [value]="a">{{a}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="col-md-1">
                                            <mat-label>DC</mat-label>
                                            <input matInput type="number" [(ngModel)]="getSavingThrow(hitEffect).value" (ngModelChange)="updateAction(action)" [ngModelOptions]="{standalone: true}">
                                        </mat-form-field>
                                    </div>
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    <button>Add</button>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <!--Add Action-->
                <div>
                    <mat-select placeholder="add weapon" [(ngModel)]="addSelectedActionToMonster" (ngModelChange)="addActionToMonster()" [ngModelOptions]="{standalone: true}">
                        <mat-optgroup *ngFor="let group of weapongroups" label="{{group}}">
                            <mat-option *ngFor="let weapon of getUnusedWeapons(group)" [value]="weapon">{{weapon.name}}</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </div>
            </form>
        </mat-step>
        <!-----------------------------------
    --
    --  Ability Scores
    --
    ---------------------------------------->
        <mat-step>
            <form>
                <ng-template matStepLabel>Finalize</ng-template>
                <div class="form-group row">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>