<div>
    <input type="text" class="form-control" [(ngModel)]="search.name"/>
</div>

<div>
    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="row-border hover" style="width: 100%">
        <thead>
        <tr>
            <th style="width: 40%">
                Name
            </th>
            <th style="width: 10%">
                School
            </th>
            <th style="width: 10%">
                Level
            </th>
            <th style="width: 40%">
                Classes
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let spell of spells" [routerLink]='["/spellDetail/" + spell.id]'>
            <td>{{spell.name}}</td>
            <td>{{spell.school}}</td>
            <td>{{spell.level}}</td>
            <td>{{spell.classLists.join(', ')}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
            </td>
        </tr>
        </tfoot>
    </table>
</div>
