<form *ngIf="_loaded">
    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="_monster.name" [ngModelOptions]="{standalone: true}" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Short Name</mat-label>
            <input matInput [(ngModel)]="_monster.shortName" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Size</mat-label>
            <mat-select [(ngModel)]="_monster.size" [ngModelOptions]="{standalone: true}" (ngModelChange)="sizeChanged($event)" required>
                <mat-option *ngFor="let size of sizeValues" [value]="size">{{size}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="_monster.race.monsterType" [ngModelOptions]="{standalone: true}" required>
                <mat-option *ngFor="let race of monsterTypeValues" [value]="race">{{race}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Tag (optional)</mat-label>
            <input matInput [(ngModel)]="_monster.race.tags" list="taglist" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <datalist id="taglist">
            <option *ngFor="let t of getTags()">{{t}}</option>
        </datalist>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Alignment</mat-label>
            <mat-grid-list cols="4" rowHeight="1:1" style="border: 1px solid lightgray; border-radius: 5px;">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile [colspan]="3">Lawful vs Chaotic</mat-grid-tile>
                <mat-grid-tile [rowspan]="3"><span style="transform: rotate(90deg); white-space: nowrap">Good vs Evil</span></mat-grid-tile>
                <mat-grid-tile *ngFor="let al of alignmentList"><mat-checkbox disabled [(ngModel)]="alignment[al]" [ngModelOptions]="{standalone: true}" matTooltip="{{al}}" [matTooltipPosition]="'below'"></mat-checkbox></mat-grid-tile>
            </mat-grid-list>
            <input matInput [(ngModel)]="_monster.alignment.description" [ngModelOptions]="{standalone: true}" style="text-align:center; margin-top:15px" required>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" class="col-md-2">
            <mat-label>Land Speed</mat-label>
            <input matInput [(ngModel)]="_monster.speed.speeds['Normal']" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2">
            <mat-label>Burrow Speed</mat-label>
            <input matInput [(ngModel)]="_monster.speed.speeds['Burrow']" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2">
            <mat-label>Climb Speed</mat-label>
            <input matInput [(ngModel)]="_monster.speed.speeds['Climb']" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2">
            <mat-label>Swim Speed</mat-label>
            <input matInput [(ngModel)]="_monster.speed.speeds['Swim']" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2" *ngIf="!hover">
            <mat-label>Fly Speed</mat-label>
            <span matSuffix><mat-slide-toggle [(ngModel)]="hover" [ngModelOptions]="{standalone: true}" (ngModelChange)="hoverToggle()"></mat-slide-toggle></span>
            <input matInput [(ngModel)]="_monster.speed.speeds['Fly']" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-2" *ngIf="hover">
            <mat-label>Hover Speed</mat-label>
            <span matSuffix><mat-slide-toggle [(ngModel)]="hover" [ngModelOptions]="{standalone: true}" (ngModelChange)="hoverToggle()"></mat-slide-toggle></span>
            <input matInput [(ngModel)]="_monster.speed.speeds['Hover']" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <div>
            <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Senses</mat-label>
                <input matInput [(ngModel)]="_monster.senses.description" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Challenge Rating (expected)</mat-label>
                <mat-select [(ngModel)]="_monster.challengeRating" [ngModelOptions]="{standalone: true}" (ngModelChange)="setCr()" required>
                    <mat-option *ngFor="let cr of crValues" [value]="cr">{{cr.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="col-md-3">
                <mat-label>Languages</mat-label>
                <input matInput [(ngModel)]="_monster.languages" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
    </div>
</form>