<div style="width: 400px; margin: 10px" *ngIf="spell">
    <div style="font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif; color: #7A200D; font-size: 14px;">
        {{spell.name.toUpperCase()}}
    </div>
    <div style="font-weight: normal;font-style: italic;font-size: 12px;margin: 0;"><span *ngIf="spell.castAsRitual">(ritual)</span></div>
    <div><span style="font-weight: bold">Casting Time: </span><span>{{spell.time}}</span></div>
    <div><span style="font-weight: bold">Range: </span><span>{{spell.range}}</span></div>
    <div><span style="font-weight: bold">Component: </span><span>{{getComponents()}}</span></div>
    <div><span style="font-weight: bold">Duration: </span><span>{{spell.duration}}</span></div>
    <div>{{spell.text}}</div>
</div>