<div *ngIf="project">
    <div style="width: 400px; margin: 10px">
        <div style="font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif; color: #7A200D; font-size: 24px;">
            {{project.name}}
        </div>
        <div><span>{{project.description}}</span></div>
    </div>

    <h2>Monsters</h2>
    <button [routerLink]='["/monsterDetail/0/edit"]' [queryParams]="{pId: project.id}">Add Monster</button>
    <monsterList [ids]="project.monsterIds" *ngIf="project.monsterIds"></monsterList>

    <h2>Spells</h2>
    <spellList [ids]="project.spellIds" *ngIf="project.spellIds"></spellList>
</div>
