<div>
    <input type="text" class="form-control" [(ngModel)]="search.name"/>
</div>

<div>
    <table datatable [dtTrigger]="dtTrigger" class="row-border hover" style="width: 100%">
        <thead>
        <tr>
            <th style="width: 50%">
                Name
            </th>
            <th style="width: 20%">
                Type
            </th>
            <th style="width: 20%">
                CR
            </th>
            <th style="width: 10%">
                HP
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let monster of monsters" [routerLink]='["/monsterDetail/" + monster.id]'>
            <td>{{monster.name}}</td>
            <td>{{monster.race.monsterType}}</td>
            <td>{{monster.challengeRating.description}}</td>
            <td>{{monster.hitDie.expectedRoll}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
            </td>
        </tr>
        </tfoot>
    </table>
</div>
